.Crew_Main_Container {
  background: url("../../assets/images/Crew_BackGroundImg.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* ******************* */
.Crew_Data_Access_Container {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
  /* min-width: 100%; */
}
.Crew_Data_Access_Container::-webkit-scrollbar {
  display: none;
}
/* ******************* */
.Crew_Left_Right_Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  height: 81vh;
}
.Crew_Left_Container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid rgb(0, 255, 98); */
  /* height: 40rem; */
}
.Left_Data_Folder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  /* border: 2px solid rgb(194, 117, 0); */
}
.Crew_Container_Main_Heading {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 23rem;
  padding-top: 15rem;
}
.Crew_Data_Main_Heading_Post {
  font-size: 3.2rem;
  line-height: 3.7rem;
  color: rgba(149, 149, 149, 0.815);
  font-family: "Bellefair_Regular";
}
.Crew_Data_About_Description {
  width: 44.4rem;
  /* border: 2px solid red; */
  /* height: 10rem; */
}
.Crew_Images {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.All_Crew_Img {
  width: 66.57rem;
  height: 80rem;
  object-fit: contain;
  display: flex;
  align-items: end;
  justify-content: center;
  object-position: bottom;
}
.Data_Access_Dots {
  height: 3rem;
  /* border: 2px solid rgb(16, 39, 244); */
  display: flex;
  gap: 2.5rem;
  margin-top: 6rem;
}
.Position_Container {
  /* border: 2px solid rgb(194, 0, 0); */
  position: relative;
  /* top: -2rem; */
  /* bottom: -3rem; */
}
.Access_Dotes {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  gap: 1rem;
  background-color: rgba(110, 109, 109, 0.4);
  /* opacity: 17%; */
}
.Access_Dotes:hover {
  background-color: #9e8a8a;
}
.ActiveCrew {
  background-color: white;
  opacity: 100%;
}
